@font-face {
  font-family: 'din_probold';
  src: url('../fonts/dinpro-bold-webfont.eot');
  src: url('../fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dinpro-bold-webfont.woff2') format('woff2'),
  url('../fonts/dinpro-bold-webfont.woff') format('woff'),
  url('../fonts/dinpro-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'din_promedium';
  src: url('../fonts/dinpro-medium-webfont.eot');
  src: url('../fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dinpro-medium-webfont.woff2') format('woff2'),
  url('../fonts/dinpro-medium-webfont.woff') format('woff'),
  url('../fonts/dinpro-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'din_proregular';
  src: url('../fonts/dinpro-regular-webfont.eot');
  src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dinpro-regular-webfont.woff2') format('woff2'),
  url('../fonts/dinpro-regular-webfont.woff') format('woff'),
  url('../fonts/dinpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// fonts
$font_bold: 'din_probold', Helvetica, sans-serif;
$font_medium: 'din_promedium', Helvetica, sans-serif;
$font_regular: 'din_proregular', Helvetica, sans-serif;

// Colours
$white:#fff;
$dark-grey:#1D1D1B;
$green:#4BAD33;
$blue:#003d4c;
$black:#000;
$gutter:3rem;
$text-color:#000000;


 // Mixins 
@mixin box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box; 
  box-sizing: border-box;    
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin animaxn{
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.vertical_align {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.inline_block{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
}
.display_table{
    height:100%;
    display:table;
    width:100%;
}
