.wrap{
  max-width:1240px;
  margin:auto;
}

.full-width{
  @extend .clearfix;
}

.hide{
  display: none;
}

.full-bg{
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
  position: relative;
}

.site_frame{
  //overflow-x: hidden;
  height: 100%;
  position: relative;
}


.site_navigation{
  width:240px;
  display: none;
  background:$green;
  border-bottom:5px solid $black;
  position: fixed;
  z-index: 5;
  top: 0;
  height:100%;
}

.site_content {
  height: 100%;
}

.header{
  height:65px;
  background:$white;
  position: relative;
  .wrap{
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.app_header_content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.app_header_left {
  position: relative;
  display: flex;
  align-items: center;
}

.app_header_right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.site_logo {
  display: flex;
  align-items: center;
  img{
    width:100%;
    max-width:210px;
  }
}

.main_menu{
  list-style-type: none;
  li{
    @extend .inline_block;
    a{
      height: 65px;
      padding: 10px 15px;
      display: flex;
      font-size:0.8em;
      align-items: center;
      color:$text-color;
      &.current{
        background:$black;
        color:$green;
        font-family:$font_medium;
      }
      &:hover{
        color:$green;
      }
    }
  }
}

.call_icon{
  @extend .inline_block;
  width:30px;
  height:30px;
  border:$green solid 1px;
  @include border-radius(50%);
  display: flex;
  align-items: center;
  background: url("../images/call_icon.svg") no-repeat center center;
  background-size:12px;
  margin-left:1rem;
  @include animaxn;
  &:hover{
    background-color:$black;
    border-color:$black;
  }
}

.hero_banner{
  height:380px;
  @extend .full-bg;
  .wrap{
    height:100%;
    display: flex;
    align-items: center;
  }
}

.hero_excerpt{
  max-width:430px;
  color:$white;
  h2{
    font-family:$font_bold;
    font-weight: normal;
    color:$green;
    font-size:2em;
    line-height:1.2;
    margin-bottom:1rem;
  }
  p{
    margin-bottom:3rem;
  }
}

.hero_excerpt_cta{
  list-style-type: none;
  li{
    @extend .inline_block;
    margin-right:2.5rem;
    &:last-of-type{
      margin-right:0;
    }
    a{
      display: block;
      text-transform: uppercase;
      font-size:0.73em;
      color:$white;
      position: relative;
      padding:12px 26px;
      text-align: center;
      font-family:$font_medium;
      &:before, &:after{
        content:"";
        position: absolute;
        left:-10px;
        top:0;
        width:100%;
        height: 100%;
        background:$green;
        transform: skew(-35deg);
        transform-origin: bottom left;
        @include animaxn;
      }
      &:after{
        background:none;
        border:$green solid 1px;
        top: 6px;
        left: -6px;
      }
      span{
        @extend .inline_block;
        z-index:1;
        position: relative;
      }
      &:hover{
        &:before, &:after{
          transform: skew(-40deg);
        }
      }
    }
    &:last-of-type{
      a{
        color:$green;
        &:before, &:after{
          background:$white;
        }
        &:after{
          background:none;
          border-color:$white;
        }
      }
    }
  }
}

.section{
  padding:4rem 0;
}


.brokerage_services{
  background:$black;
  color:$white;
}

.section_title{
  text-align: center;
  font-family:$font_bold;
  font-weight: normal;
  font-size:2.1em;
  line-height:1;
  margin-bottom:2rem;
  color:$green;
}

.section_desc{
  max-width:850px;
  margin: auto;
  margin-bottom:3rem;
  text-align: center;
  ul{
    margin-left:20px;
    font-size:0.9em;
    li{
      margin-bottom:5px;
    }
  }
}

.services_grid{
  list-style-type: none;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:1.5rem;
  li{
    display: block;
    .services_grid_content{
      display: flex;
      justify-content: center;
      align-items: center;
      @extend .full-bg;
      filter: drop-shadow(0px 9px 13px rgba(0, 0, 0, 0.25));
      border-radius: 5px;
      height:160px;
      position: relative;
      color:$white;
      font-family:$font_bold;
      &:before{
        content:"";
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height:100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
      }
      .article_cta {
        position: relative;
        padding:13px 20px;
        line-height:1;
        font-size:0.85em;
        border: 1px solid $white;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          transition: .3s ease-in-out;
        }

        &::before {
          top: -5px;
          left: -5px;
          border-top: 1px solid $white;
          border-left: 1px solid $white;
        }
        &::after {
          right: -5px;
          bottom: -5px;
          border-bottom: 1px solid $white;
          border-right: 1px solid $white;
        }
      }
      &:hover{
        .article_cta{
          &:before,
          &:after {
            width: calc(100% + 9px);
            height: calc(100% + 9px);
          }
        }
      }
    }
  }
}

.advisory_services{
  .services_grid {
    list-style-type: none;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap: 1.5rem;
    li{
      .services_grid_content{
        height:260px;
      }
    }
  }
}

.main_footer{
  border-top:$green solid 1px;
}

.top_footer{
  background:$black url("../images/footer-bg.jpg") repeat center center;
  color:$white;
  padding:3rem 0;
}

.bottom_footer{
  background:#1D1D1B;
  padding:14px 0;
  text-align: center;
  color:$white;
  font-size:0.7em;
}

.footer_grid{
  display: grid;
  grid-template-columns:1.5fr 1fr 1fr 1fr;
  grid-column-gap:1rem;
}

.footer_col{
  h4{
    font-family:$font_bold;
    font-weight: normal;
    font-size:1rem;
    margin-bottom:1rem;
  }
  p{
    font-size:0.778em;
    opacity:0.66;
  }
}

.footer_menu{
  list-style-type: none;
  li{
    display: block;
    font-size:0.778em;
    margin-bottom:10px;
    a{
      color:$white;
      display: block;
      opacity:0.66;
      &:hover{
        color:$green;
        opacity:1;
      }
    }
  }
}

.menu_toggle {
  cursor: pointer;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  display: none;
  height:65px;
  border-right:#b8bdb685 solid 1px;
  padding-right:1.5rem;
  margin-right:1.5rem;
  .menu_toggle_icon {
    display: inline-block;
    width: 30px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 2px;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      background:$green;
      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 8px;
      }

      &:nth-child(4) {
        top: 16px;
      }
    }
  }
}


.nav-open{
  overflow: hidden;
  .site_navigation {
    display: block;
  }
  .site_content{
    transform: translate3d(240px,0,0);
    overflow: hidden;
  }
  .header {
    z-index: 10;
  }
  .menu_overlay {
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  .menu_toggle .menu_toggle_icon {
    span {
      &:nth-child(1) {
        top: 6px;
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 6px;
        width: 0;
        left: 50%;
      }
    }
  }
}

.menu_overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index:3;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.mobile_menu{
  list-style-type: none;
  li{
    display: block;
    a{
      font-family:$font_medium;
      display: block;
      border-bottom:#43a12c solid 1px;
      padding:14px 20px;
      color:$white;
      font-size: 0.9em;
      &:hover{
        color:$black;
      }
      &.current{
        color:$black;
      }
    }
  }
}

.call_cta_today{
  background: #fff;
  height: 50px;
  font-family:$font_medium;
  text-align: center;
  font-size: 0.9em;
  display: flex;
  color:#80bb00;
  align-items: center;
  justify-content: center;
  img{
    margin-left: 12px;
    width: 18px;
  }
}

.site_breadcrumb{
  //background: rgba(210, 215, 216, 0.7);
  padding:20px 0;
}

.breadcrumb_menu{
  list-style-type: none;
  li{
    @extend .inline_block;
    font-size:15px;
    margin-right:2rem;
    position: relative;
    &:after{
      content:"";
      position: absolute;
      right:-20px;
      top:6px;
      width:1px;
      height:12px;
      background:$black;
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
    a{
      display: block;
      color:$green;
      font-family:$font_medium;
      &:hover{
        text-decoration: underline;
        color:$black;
      }
    }
  }
}


.main_content_section{
  background:$black;
  color:$white;
}

.main_content_grid{
  display: grid;
  grid-template-columns:1fr 1.1fr;
  align-items: center;
  &_image{
    margin-right:-50px;
    img{
      width:100%;
      @include border-radius(5px);
    }
  }
  &_content{
    position: relative;
    &:before, &:after{
      content:"";
      position: absolute;
      right:-20px;
      top:0;
      width:100%;
      height: 100%;
      background:$green;
      transform: skew(10deg);
      transform-origin: bottom left;
      @include animaxn;
    }
    .grid_content_inner{
      position: relative;
      z-index:1;
      padding:4.5rem 3rem;
    }
    .section_title{
      color:$black;
      text-align: left;
      font-size:28px;
      span{
        display: block;
        color:$white;
        margin-bottom:10px;
      }
    }
    .section_desc{
      margin-bottom: 0;
      color:$white;
      text-align: left;
    }
  }
}

.investment_mission{
  @extend .full-bg;
  background-image:url("../images/kcb-investment-bank-mission.jpg");
  position: relative;
  &:after{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    content:"";
  }
  .wrap{
    position: relative;
    z-index:1;
    color:$white;
  }
}

.investment_mission_grid{
  list-style-type: none;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  li{
    border:$green solid 1px;
    padding:2.5rem;
    @include border-radius(5px);
    text-align: center;
    &:first-of-type{
      grid-column-start: span 2;
      grid-row-start: span 2;
    }
    .mission_icon{
      margin-bottom:1rem;
      img{
        width:100%;
        max-width:55px;
      }
    }
    h4{
      font-size:1.778em;
      color:$green;
      font-family:$font_bold;
      font-weight: normal;
      margin-bottom:1rem;
    }
    p{
      max-width:80%;
      margin: auto;
    }
  }
}

.board_members_list{
  list-style-type: none;
  display: grid;
  grid-column-gap:2rem;
  grid-row-gap:3.5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  li{
    display: block;
    a{
      display: block;
      img{
        width:100%;
        border: 0.5px solid #80BB00;
        border-bottom:10px solid $green;
        @include border-radius(5px);
        margin-bottom:10px;
        @include animaxn;
        position: relative;
      }
      h4{
        font-family:$font_regular;
        font-weight: normal;
        color:$text-color;
      }
      p{
        font-size:0.9em;
      }
    }
  }
}

.our_story{
  background:$black;
  color:$white;
  .section_desc{
    margin-bottom: 0;
  }
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.show, &.in {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-open{
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin:5rem 0;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0)
}

.modal-dialog {
  position: relative;
  min-height: calc(100% - 3.5rem);
  margin: 1.75rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  position: relative;
  max-width:1120px;
  margin: auto;
  color:$white;
  padding:4rem;
  &:before{
    content:"";
    position: absolute;
    right:-30px;
    top:0;
    width:100%;
    height: 100%;
    background:#000 url('../images/footer-bg.jpg') repeat center center;
    transform: skew(10deg);
    transform-origin: bottom left;
  }
  &_inner{
    position: relative;
    z-index:1;
    display: grid;
    grid-template-columns:250px 1fr;
    grid-column-gap:2rem;
    align-items: center;
    .board_member_image{
      img{
        width:100%;
        margin-bottom:10px;
        border: 0.5px solid #80BB00;
        border-radius: 5px;
        border-bottom:$green 10px solid;
      }
      h4{
        font-family:$font_medium;
        font-weight: normal;
        //margin-bottom:10px;
        color:$green;
      }
      p{
        font-size:0.9em;
      }
    }
    .board_member_desc{
      font-size:0.85em;
      p{
        margin-bottom:1.5rem;
        &:last-of-type{
          margin-bottom:0;
        }
      }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.modal-backdrop.in {
  background: rgba(0, 0, 0, 0.7);
}

.close_modal{
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right:3rem;
  top: 1.5rem;
  cursor: pointer;
  background:url("../images/close_modal_btn.svg") no-repeat center center;
}

.form_section{
  @extend .full-bg;
  background-color:$black;
  position: relative;
  &:before{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    content:"";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }
}

.form_sheet{
  max-width:550px;
  color:$white;
  position: relative;
  z-index:1;
  .section_title, .section_desc{
    text-align: left;
  }
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.44);
  }
  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.44);
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.44);
  }
  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.44);
  }
}

.form_group{
  margin-bottom:2rem;
  input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="submit"], input[type="url"], input[type="color"], input[type="password"], textarea {
    width:100%;
    background:transparent;
    border: 1px solid $green;
    border-radius: 10px;
    padding: 10px 15px;
    line-height: 16px;
    font-size: 16px;
    color:$white;
    -webkit-appearance: none;
    &:focus {
      border-color: $white;
      outline: 0;
    }
    &.error{
      border-color:#ff0000b8;
    }
  }
  .form_label{
    display: block;
    margin-bottom:12px;
  }
  input[type="submit"] {
    background:$green;
    border: 0;
    @include animaxn;
    font-family: $font_medium;
    text-transform: uppercase;
    color: $white;
    font-size:0.8em;
    cursor: pointer;
    @include border-radius(10px);
    padding: 0 60px;
    width: auto;
    height:45px;
    &:hover {
      background:$white;
      color:$black;
    }
    &:focus{
      background:$white;
      color:$black;
    }
  }
  textarea{
    height:120px;
    resize: none;
  }

  label.error{
    color: red;
    display: block;
    margin-top: 10px;
  }

}

.check_box{
  //Base for label styling
  margin-bottom: 1.5rem;
  min-height: 30px;
  display: flex;
  align-items: center;
  label{
    font-size:0.9em;
  }
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked,  [type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    outline: none;
  }
  [type="checkbox"]:not(:checked) + label, [type="radio"]:not(:checked) + label, [type="checkbox"]:checked + label, [type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    display: block;
    cursor: pointer;
  }

  //checkbox aspect
  [type="checkbox"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before, [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width:24px;
    height:24px;
    border: 1px solid $green;
    background:transparent;
    border-radius: 4px;
  }
  //checked mark aspect
  [type="checkbox"]:not(:checked) + label:after, [type="radio"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after, [type="radio"]:checked + label:after {
    content: "";
    left:0;
    top:0;
    transition: all .2s;
    width:24px;
    height:24px;
    position: absolute;
    background: url('../images/tick_mark.svg') no-repeat center center;
  }
   //checked mark aspect changes
  [type="checkbox"]:not(:checked) + label:after, [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after, [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  //disabled checkbox
  [type="checkbox"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before, [type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after, [type="radio"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label, [type="radio"]:disabled + label {
    color: #aaa;
  }
  //accessibility
  [type="checkbox"]:checked:focus + label:before, [type="radio"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before, [type="radio"]:not(:checked):focus + label:before {
    border: 2px solid $green !important;
  }

}

.form_options_grid{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap:1rem;
  margin-bottom:2rem;
  p{
    margin-bottom:1rem;
  }
}

.related_services{
  .services_grid {
    grid-template-columns: 1fr 1fr;
  }
}