@media only screen and (max-width: 1920px){
	.header{
		//background:yellow;
	}
}//Max width 1900
@media only screen and (max-width: 1600px){
    .header{
    	 //background:red;
    }
}//Max width 1600

@media only screen and (max-width: 1366px){
    .header{
    	 //background:blue;
    }
	.wrap {
		max-width: none;
		padding: 0 2rem;
	}
	.section {
		padding: 3rem 0;
	}
	.section_title{
		font-size: 1.8em;
		margin-bottom: 1.5rem;
	}
}//Max width 1280

@media only screen and (max-width: 1280px){
    .header{
    	 //background:brown;
    }
	.modal-content{
		max-width: 980px;
	}
}//Max width 1280


@media only screen and (max-width: 1100px){
	.header{
    	 //background:green;
    }

	.wrap {
		padding: 0 1.5rem;
	}

	.main_menu{
		display:none;
	}

	.menu_toggle{
		display: flex;
	}

	.services_grid{
		li{
			.services_grid_content{
				height: 130px;
			}
		}
	}

	.advisory_services{
		.services_grid li{
			.services_grid_content {
				height: 200px;
			}
		}
	}

	.board_members_list{
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-row-gap: 2rem;
	}

	.modal-content{
		padding: 1.5rem;
		&:before{
			right:0;
			transform: skew(0deg);
		}
	}
	.close_modal{
		background-color: black;
		padding: 10px;
		background-size: 45px;
		right: 1.5rem;
		top: -20px;
	}

}//Max width 1100


@media only screen and (max-width: 960px){
	.header{
    	 //background:purple;
    }
	.section {
		padding: 2rem 0;
	}
	.top_footer{
		padding:2rem 0;
	}
	.hero_banner {
		height: 320px;
	}
	.hero_excerpt{
		h2{
			font-size: 1.6em;
		}
	}
	.section_title {
		font-size: 1.6em;
	}
	.section_desc{
		margin-bottom: 2rem;
	}
	.services_grid{
		grid-column-gap: 1rem;
	}
	body, td, th, select, input, textarea{
		font-size: 16px;
	}
	.services_grid li .services_grid_content .article_cta{
		font-size: 0.9em;
	}
	.footer_grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 1.5rem;
	}
	.footer_menu li, .footer_col p{
		font-size: 0.85em;
	}
}//max width 960

@media only screen and (max-width: 768px){
	.header{
    	 //background:black;
    }
	.wrap {
		padding: 0 1.2rem;
	}
	.menu_toggle{
		padding-right: 1.2rem;
		margin-right: 1.2rem;
	}
	.services_grid {
		display: block;
		li{
			margin-bottom:1.2rem;
			.services_grid_content {
				height: 150px;
			}
		}
	}
	.section {
		padding: 1.5rem 0;
	}
	.hero_excerpt h2, .section_title {
		font-size: 1.5em;
	}
	.hero_banner {
		height: 280px;
	}
	.advisory_services{
		.services_grid{
			display: block;
			li{
				.services_grid_content {
					height: 150px;
				}
			}
		}
	}
	.footer_grid{
		display: block;
		.footer_col{
			margin-bottom:2rem;
			&:last-of-type{
				margin-bottom:0;
			}
		}
	}
	.main_content_grid{
		display: block;
		.main_content_grid_image{
			margin-right:0;
		}
		.grid_content_inner{
			padding:1.2rem;
		}
	}
	.main_content_grid_content{
		.section_title{
			font-size: 1.5em;
		}
	}
	.main_content_grid_content:before, .main_content_grid_content:after{
		transform: skew(0deg);
		right:0;
	}
	.investment_mission_grid{
		grid-gap: 1rem;
		li{
			padding: 1.2rem;
			h4{
				font-size: 1.5em;
			}
			p{
				max-width: none;
			}
		}
	}
	.board_members_list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-row-gap: 2rem;
		grid-column-gap: 1.2rem;
	}
	.our_story{
		.section_desc, .section_title{
			text-align: left;
		}
	}

	.modal-content {
		padding: 1.2rem;
	}
	.modal-content_inner{
		display: block;
	}
	.close_modal{
		right: 1.2rem;
	}

	.board_member_image{
		text-align: center;
		margin-bottom:2rem;
		img{
			max-width:300px;
		}
		h4, p{
			text-align: left;
		}
	}
	.form_section{
		background: #242424 !important;
	}
	.form_sheet{
		max-width: none;
	}

	.main_content_grid_image{
		img{
			border-radius:5px 5px 0 0;
		}
	}


}//max width 768


@media only screen and (max-width: 500px){
 	.header{
    	 //background:yellow;
    }
	.app_header_right{
		.call_icon{
			display: none;
		}
	}
	.site_logo img {
		max-width: 180px;
	}
	.hero_banner {
		height: auto;
		padding:3rem 0;
		&:after{
			content:"";
			position: absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background: #0000004f;
		}
		.wrap{
			position: relative;
			z-index:1;
		}
	}
	.hero_excerpt{
		p {
			margin-bottom: 2rem;
		}
	}
	.hero_excerpt_cta{
		li{
			display: block;
			margin:0;
			margin-bottom:2rem;
			&:last-of-type{
				margin-bottom: 0;
			}
			a{
				min-width: 180px;
				display:inline-block;
				*display:inline;
				zoom:1;
				vertical-align:top;
			}
		}
	}
	.hero_excerpt h2, .section_title {
		font-size: 1.35em;
	}
	.main_content_grid_content .section_title{
		font-size: 1.35em;
	}
	.investment_mission_grid{
		display: block;
		li{
			margin-bottom:1.2rem;
			&:last-of-type{
				margin-bottom:0;
			}
			.mission_icon{
				margin-bottom: 10px;
				img{
					max-width:40px;
				}
			}
			h4{
				font-size: 1.35em;
			}
		}
	}
	.site_breadcrumb{
		display: none;
	}
	.board_member_image{
		img {
			max-width: none;
		}
	}
	.form_options_grid{
		display: block;
	}
}//max 500px

@media only screen and (max-width: 330px){
	.header{
    	 //background:pink;
    }
	.wrap {
		padding: 0 1rem;
	}
	.menu_toggle {
		padding-right: 1rem;
		margin-right: 1rem;
	}
	.board_members_list{
		display: block;
		li{
			margin-bottom:1.2rem;
			&:last-of-type{
				margin-bottom:0;
			}
		}
	}

	.modal-content {
		padding: 1rem;
		padding-top: 20px;
	}
	.close_modal {
		right: 1rem;
		background-size: 40px;
	}

}//max 330px


// Print Styles

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

}